<div class="animation-main">
	<div class="animation-block">
		<div class="animation-container">
			<div class="md-btn-block">
				<div class="m-btn m-btn-blob">
					<svg viewBox="0 0 100 100" class="chart">

						<polyline class="path"
								  fill="none"
								  stroke="#fff"
								  stroke-width="4"
								  points="
										  00,60
										  20,60
										  30,40
										  40,70
										  50,30
										  60,50
										  65,30
										  70,45
										  "
								  />

					</svg>
					<span class="poker-icon"></span>
				</div>
			</div>
			<span href="#" class="circle1"></span>

			<span href="#" class="circle2"></span>
			<span href="#" class="circle3" (click)="handleClick()"></span>

			<div href="#" class="circle4">
				<svg>
					<circle cx="50%" cy="50%" r="110px"></circle>
				</svg>
				<svg class="spin-svg2">
					<circle class="cir2" cx="50%" cy="50%" r="110px"></circle>
				</svg>
			</div>			
			<div href="#" class="circle5">
				<svg>
					<circle cx="50%" cy="50%" r="142px"></circle>
				</svg>
				<svg class="spin-svg2">
					<circle class="cir2" cx="50%" cy="50%" r="142px"></circle>
				</svg>
			</div>
			
			<div class="circle6">
				<svg>
					<circle cx="50%" cy="50%" r="200px"></circle>
				</svg>
				<svg class="spin-svg2">
					<circle class="cir2" cx="50%" cy="50%" r="200px"></circle>
				</svg>
			</div>
			<div class="circle7">
				<svg>
					<circle cx="50%" cy="50%" r="170"></circle>
				</svg>
			</div>
			<!--<donut-chart [data]="donutInfo"></donut-chart>-->
			<div class="circle-spin3" (click)="handleClick()">
				<svg>
					<circle cx="50%" cy="50%" r="220px"></circle>
				</svg>
			</div>
		</div>
	</div>
  </div>