<div class="system-animation">
  <div class="animation-main">
    <div class="animation-block">
      <div class="md-btn-block">
        <div class="m-btn m-btn-blob"><img src="../../assets/images/ic_account_circle_black_24px.svg"></div>
      </div>
      <span href="#" class="circle1"></span>

      <span href="#" class="circle2"></span>
      <span href="#" class="circle3"></span>

      <span href="#" class="circle4"></span>

      <div class="circle-spin">
        <svg>
          <circle cx="50%" cy="50%" r="110px"></circle>
        </svg>
      </div>

      <span href="#" class="circle6"></span>
      <span href="#" class="circle7"></span>
      <div class="circle-spin2">
        <svg>
          <circle cx="50%" cy="50%" r="165px"></circle>
        </svg>
      </div>
      <div class="circle-spin3">
        <svg>
          <circle cx="50%" cy="50%" r="195px"></circle>
        </svg>
      </div>
    </div>
  </div>
	
</div>
