.player-statistics {
  color: black;
}

.card.ps-info-card {
  height: 100px;
  margin-bottom: 2.4em;
}

.chart-b {
  text-align: center;
  display: inline-block;
}

.ps-ratio-chart .card-body {
  max-height: 150px;
  max-width: 150px;
}
