@import "variable";
@import "mixins";


@media (min-width: 1200px){
	.container {
		max-width: 1380px;
	}
}


// left Alerts scss
alerts-dashboard {
	.card {
		margin-bottom: 20px;
		box-shadow: 0 0px 10px 3px darkslategrey;
	}
}
.adm-actions {
	background-color: #292a2b;
	padding: 10px 0;
	margin-bottom: 1em;
	box-shadow: 0 0 8px 2px darkslategrey inset;
	border-radius: 3px;
	p {
		line-height: 24px;
		padding-top: 8px;
	}
	.form-group {
		margin-bottom: 0;
		border-left: 1px solid;
	}
}

